:root{
	--time1s: 1s;
	--time2s: 2s;
	--time3s: 3s;
}

@keyframes dash {
	from {
		stroke-dasharray: 110000;
		stroke-dashoffset: 20000;
		fill: black;
	}
	to {
		stroke-dasharray: 10000;
		stroke-dashoffset: 0;
		fill: white;
	}
}

@keyframes dash-1 {
	from {
		stroke-dashoffset: 12000;
	}
	to {
		stroke-dashoffset: 0;
		fill: black;
	}
}

@keyframes dash-2 {
	from {
		stroke-dashoffset: 24000;
	}
	to {
		stroke-dashoffset: 0;
		fill: black;
	}
}

@keyframes dash-3 {
	from {
		stroke-dashoffset: 104000;
	}
	to {
		stroke-dashoffset: 0;
		fill: black;
	}
}

@keyframes scale {
	0% {
		position: fixed;
		top: 0%;
		left: 0%;
		transform: translate(-50%, -50%);
		transform: scale(1);
	}
	10% {
		position: fixed;
		top: 0%;
		left: 0%;
		transform: translate(-50%, -50%);
		transform: scale(1.05);
	}
	40% {
		position: fixed;
		top: 0%;
		left: 0%;
		transform: translate(-50%, -50%);
		transform: scale(1.04);
	}
	50% {
		position: fixed;
		top: 0%;
		left: 0%;
		transform: translate(-50%, -50%);
		transform: scale(1.03);
	}
	100% {
		position: fixed;
		top: 0%;
		left: 0%;
		transform: translate(-50%, -50%);
		transform: scale(0);
	}
}

.opened {
	animation: scale var(--time1s) linear forwards;
	animation-delay: var(--time3s);
}

.opened .svg__circle-inside {
	fill: white;
	stroke-dasharray: 12000;
	animation: dash-1 var(--time2s) linear forwards;
	animation-delay: var(--time1s);
}

.opened .svg__circle-outside {
	fill: white;
	stroke-dasharray: 24000;
	animation: dash-2 var(--time2s) linear forwards;
	animation-delay: var(--time1s);
}

.opened .svg__path {
	fill: white;
	stroke-dasharray: 104000;
	animation: dash-3 var(--time3s) linear forwards;
}

.svg {
	background-image: url("../assets/img/standby.jpg");
	background-size: 100% 100%;
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
