@import "~normalize.css";
@import "_variables";
@import "modules/svg.scss";

body {
	height: 100vh;
	width: 100vw;
	background-image: url("../assets/img/pip-boy_screen.jpg");
	background-size: 100% 100%;
}
